open-clip-torch==2.7.0
fvcore
cython
albumentations
boto3
checksumdir
clip
decord
easydict
einops
fairscale
ftfy
jieba
kornia
matplotlib
more-itertools
ninja
opencv-python
openpyxl==3.1.1
omegaconf
psutil
PyYAML
pywavelets
pycocotools
pytorch_lightning
py-spy
regex
scipy
sentencepiece
streamlit
tqdm
tensorboard
taming-transformers-rom1504
transformers==4.30.2
timm
webdataset
pandas
deepspeed==0.12.6
diffusers
accelerate
rouge-metric
safetensors